<a href="https://colab.research.google.com/github/JakeOh/202007_iw_pyda_wkd/blob/master/py02_variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수(Variable)

In [4]:
# 주석(comment): 코드 설명. 실행되지 않는 문장.
# 변수(variable): 데이터(자료)를 저장하는 메모리 공간.
# 데이터(자료): 숫자, 문자열, 논리값(True/False), ...

x = 100  # 변수 x에 숫자 타입 값 100을 저장
print(x)  # 변수 x를 화면에 출력
print(x + 10)

100
110

In [7]:
# 문자열(string): 하나 이상의 문자들로 이루어진 배열
# 문자열은 작은따옴표('') 또는 큰따옴표("")로 감싸줌.
name = '오정훈'
print(name)

오정훈

In [8]:
x = '100'
type(x)  # x는 문자열(string)을 저장하고 있는 변수

str

In [9]:
x = 100
type(x)  # x는 정수(integer)를 저장하고 있는 변수

int

In [14]:
# '100' + 10
# 문자열과 숫자는 더하기 연산을 할 수 없음.

In [17]:
true_or_not = (100 < 99)
print(true_or_not)
type(true_or_not)  # 논릿값(boolean)

False

bool

# 연산자(Operator)

In [25]:
x = 123  # 변수 x에 숫자 123을 저장
y = 100  # 변수 y에 숫자 100을 저장

print('x + y =', x + y)
print('x - y =', x - y)
print('x * y =', x * y)
print('x / y =', x / y)
print('x // y =', x // y)  # 나눈 몫
print('x % y =', x % y)  # 나눈 나머지
print('y ** 2 =', y ** 2)  # n제곱

x + y = 223
x - y = 23
x * y = 12300
x / y = 1.23
x // y = 1
x % y = 23
y ** 2 = 10000

In [31]:
# 문자열은 +와 * 연산이 가능:
# 문자열 + 문자열: 두 개의 문자열을 이어붙임(concatenate)
# 문자열 * 정수: 문자열을 정수만큼 반복
s1 = 'hello'
s2 = 'python'
print(s1 + s2)
print(s1 * 3)

hellopython
hellohellohello

In [37]:
# 비교 연산자: >, >=, <, <=, == (equal to), != (not equal to)
x = 100  # 변수 x에 정수 100을 저장
y = 99   # 변수 y에 정수 99를 저장
print(x == y)  # x와 y가 같은 지 비교
print(x != y)  # x와 y가 다른 지 비교

False
True

In [41]:
# 논리 연산자: and, or, not
# A and B: A와 B 모두 True일 때만 True, 그 이외에는 False
# A or B: A와 B 중 적어도 하나가 True일 때 True, 모두 False일 때 False
# not A: A가 True이면 False로, A가 False이면 True로.

x, y = 10, 7
print((x > 5) and (y > 5))
print((x > 8) and (y > 8))
print((x > 8) or (y > 8))

True
False
True