<a href="https://colab.research.google.com/github/JakeOh/202007_iw_pyda_wkd/blob/master/py04_list_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

리스트(list): 여러개의 자료(데이터)를 하나의 변수에 저장하기 위해 만들어진 타입.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(type(numbers))  # list
print(numbers)
print(len(numbers))  # len(리스트): 리스트의 길이(리스트의 원소 개수)

<class 'list'>
[1, 2, 3, 4, 5]
5

In [ ]:
# 리스트는 저장하고 있는 원소들을 찾을 수 있는 인덱스(일련번호)가 있음.
# 리스트의 인덱스는 0부터 시작함.
# 리스트의 마지막 인덱스는 (원소 개수 - 1)이 됨.
print(numbers[0])
print(numbers[1])
print(numbers[4])

1
2
5

In [ ]:
# 문자열은 일종의 리스트 - 문자들의 리스트
s = '안녕하세요'
print(len(s))  #  len(문자열): 문자열의 길이(문자의 개수)
print(s[0])
print(s[4])

5
안
요

In [ ]:
# 리스트 + 리스트: 두개의 리스트를 합쳐서 하나의 리스트로 만듦(concatenate)
# 리스트 * 정수: 리스트의 원소들을 정수만큼 반복.
print([1, 2, 3] + [4, 5, 6])
print([1, 2, 3] * 3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 슬라이싱(slicing)
# 리스트[start:end]: start <= 인덱스 < end 범위의 원소들을 선택
numbers = [2, 4, 6, 8, 10, 12]
# 0 <= i < 3 범위의 부분집합 slicing
print(numbers[0:3])
print(numbers[2:4])  # 2 <= i < 4 부분집합

[2, 4, 6]
[6, 8]

In [ ]:
# 시작 인덱스를 생략한 경우는 시작 인덱스는 0이 됨.
print(numbers[:3])  # numbers[0:3]
# 마지막 인덱스를 생략한 경우는 마지막 원소까지 선택.
print(numbers[3:])
# start와 end를 모두 생략하면, 처음부터 끝까지
print(numbers[:])

[2, 4, 6]
[8, 10, 12]
[2, 4, 6, 8, 10, 12]

In [ ]:
# 리스트의 음수 인덱스
print(numbers[-2:])
print(numbers[-4:-2])

[10, 12]
[6, 8]

In [ ]:
# 리스트의 slicing 방법은 문자열에서도 똑같이 적용됨.
message = 'Hello, Python!'
print(message[:5])
print(message[-5:])

Hello
thon!

In [ ]:
# 다차원 리스트: 리스트를 원소로 갖는 리스트
numbers = [
           [1, 2, 3, 4],
           [5, 6, 7, 8],
           [9, 10, 11, 12]
]
print(len(numbers))
print(numbers[2])
print(numbers[0][0])
print(numbers[-1][-1])  # numbers[2][3]
print(numbers[0:2])  # slicing

3
[9, 10, 11, 12]
1
12
[[1, 2, 3, 4], [5, 6, 7, 8]]

# Tuple(튜플)

tuple(튜플): 변경할 수 없는 리스트

In [ ]:
number_list = [1, 2, 3]  # 숫자들의 리스트
number_tuple = (1, 2, 3)  # 숫자들의 튜플
print(number_list, type(number_list))
print(number_tuple, type(number_tuple))

[1, 2, 3] <class 'list'>
(1, 2, 3) <class 'tuple'>

In [ ]:
print(number_list[0])  # 인덱스
print(number_tuple[0])
print(number_list[:2])  # slicing
print(number_tuple[:2])

1
1
[1, 2]
(1, 2)

In [ ]:
# 리스트는 저장된 값을 변경/추가/삭제하는 게 가능.
number_list[0] = 100  # 값(원소) 변경
print(number_list)
number_list.append(123)  # 값(원소) 추가
print(number_list)
number_list.remove(3)  # 값(원소) 삭제
print(number_list)

[100, 2, 3]
[100, 2, 3, 123]
[100, 2, 123]

In [ ]:
# number_tuple[0] = 100
# 튜플은 값을 변경할 수 없음.
# append(원소 추가), remove(원소 삭제)할 수 없음.

# for 반복문

In [ ]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

In [ ]:
print('*' * 1)
print('*' * 2)
print('*' * 3)
print('*' * 4)
print('*' * 5)

*
**
***
****
*****

<pre>
for 변수 in 리스트/튜플/반복가능한 객체:
    반복할 문장들
</pre>

In [ ]:
for i in [1, 2, 3, 4, 5]:
    print('*' * i)

*
**
***
****
*****

In [ ]:
# range(start, end, step)
# start <= x < end 범위의 숫자들을 step만큼씩 증가시키면서 숫자들을 생성.
for x in range(0, 5, 2):  # (0, 2, 4)
    print(x)

0
2
4

In [ ]:
# range(start, end, step):
# start >= x > end인 범위에서 step(음수)만큼씩 감소
for x in range(5, 1, -2):  # (5, 3)
    print(x)

5
3

In [ ]:
# range(start, end)
# start <= x < end 범위에서 1씩 증가하는 숫자들
for x in range(1, 5):  # (1, 2, 3, 4)
    print(x)

1
2
3
4

In [ ]:
# range(end): 0 <= x < end 범위의 1씩 증가하는 숫자들
for x in range(5):
    print(x)

0
1
2
3
4

In [ ]:
# 빈 리스트(empty list)를 생성
numbers = []
print(numbers)
# 빈 리스트에서 1 이상 10 이하의 숫자들을 차례로 저장
for x in range(1, 11):
    numbers.append(x)
    print(numbers)

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
evens = []  # 짝수들을 저장하기 위한 리스트
# 0이상 10 미만의 숫자들 중에서 짝수들만 evens에 append
# 결과 출력
for x in range(0, 10, 2):
    evens.append(x)
    print(evens)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [ ]:
evens2 = []
for x in range(10):  # 0이상 10미만의 숫자들에 대해서 반복
    if x % 2 == 0:  # x가 짝수이면,
        evens2.append(x)  # x를 리스트에 추가(append)
        print(evens2)  # 리스트를 출력

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [ ]:
# break: 가장 가까운 반복문을 멈춤.
for x in range(10):  # 10보다 작은 0또는 양의 정수들에 대해서
    if x >= 5:  # x가 5 이상이면
        break  # 반복을 멈춤.
    print(x)  # x를 출력

0
1
2
3
4

In [ ]:
# continue: continue 아래의 문장을 실행하지 않고, 다음 반복을 실행.
for x in range(10):
    if x == 5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [ ]:
# List Comprehension
# numbers = []
# for x in range(1, 11):
#     numbers.append(x)

# Ctrl+/: 선택된 영역(커서 위치)를 주석 토글

numbers = [x for x in range(1, 11)]
# 1 ~ 11 범위의 숫자 x에 대해서, 그 숫자 x를 리스트에 추가 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
scores = [100, 50, 90, 70, 20, 80]

scores2 = []  # scores의 점수들 중에서 60점 이상인 점수들만 추가
for x in scores:  # scores의 원소들에 대해서 반복
    if x >= 60:  # 점수가 60점 이상이면
        scores2.append(x)  # 새로운 리스트에 추가

print(scores2)

[100, 90, 70, 80]

In [ ]:
scores3 = [x for x in scores if x >= 60]
print(scores3)

[100, 90, 70, 80]

In [ ]:
gender = ['male', 'female', 'female', 'male']

gender_encode = []  # male: 0, female:1 변환 저장
for g in gender:  # 리스트 gender의 모든 원소들에 대해서 반복
    if g == 'male':              # 성별이 'male'이면
        gender_encode.append(0)  # 0을 새로운 리스트에 추가
    else:                        # 성별이 'male'이 아니면('female'이면)
        gender_encode.append(1)  # 1을 새로운 리스트에 추가

print(gender_encode)

[0, 1, 1, 0]

In [ ]:
gender = ['male', 'female', 'unknown']
gender_encode2 = [0 if g == 'male' else (1 if g == 'female' else 2)
                  for g in gender]
print(gender_encode2)

[0, 1, 2]