<a href="https://colab.research.google.com/github/JakeOh/202007_iw_pyda_wkd/blob/master/py06_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dict: key-value의 쌍으로 이루어진 데이터를 저장하는 자료 타입.

In [ ]:
students = {1: 'Abc',
            2: 'Def',
            10: '홍길동',
            5: '김길동'}

print(type(students))
print(students)

<class 'dict'>
{1: 'Abc', 2: 'Def', 10: '홍길동', 5: '김길동'}

In [ ]:
students.keys()  # dict의 key들만 선택

dict_keys([1, 2, 10, 5])

In [ ]:
students.values()  # dict의 value들만 선택

dict_values(['Abc', 'Def', '홍길동', '김길동'])

In [ ]:
students.items()  # (key, value) 튜플들의 리스트

dict_items([(1, 'Abc'), (2, 'Def'), (10, '홍길동'), (5, '김길동')])

In [ ]:
# dict의 원소의 값을 읽을 때
students[1]  # dict[key]

'Abc'

In [ ]:
# dict의 원소의 값을 변경하고 싶을 때
print('변경 전:', students[2])
students[2] = 'Python'  # dict[key] = 값
print('변경 후:', students[2])

변경 전: Def
변경 후: Python

In [ ]:
# dict의 새로운 key-value를 추가: dict[key] = value
students[100] = 'Wes'
print(students)

{1: 'Abc', 2: 'Python', 10: '홍길동', 5: '김길동', 100: 'Wes'}

In [ ]:
students.pop(5)  # dict.pop(key): key-value 데이터를 dict에서 삭제
print(students)

{1: 'Abc', 2: 'Python', 10: '홍길동', 100: 'Wes'}

In [ ]:
# for-in 구문에서 dict 타입의 변수를 사용하면, key들에 대해서 반복
for k in students:  # for k in students.keys():
    print(k, students[k])

1 Abc
2 Python
10 홍길동
100 Wes

In [ ]:
for v in students.values():
    print(v)

Abc
Python
홍길동
Wes

In [ ]:
print(students.items())
for k, v in students.items():
    print(k, v)

dict_items([(1, 'Abc'), (2, 'Python'), (10, '홍길동'), (100, 'Wes')])
1 Abc
2 Python
10 홍길동
100 Wes

In [ ]:
person = {'name': '홍길동',
          'age': 16,
          'is_married': False,
          'phone': ['02-1234-5678', '010-1111-5678'],
          'email': {'office': 'hgd@korea.com', 'personal': 'hdg@naver.com'}}
print(person)

{'name': '홍길동', 'age': 16, 'is_married': False, 'phone': ['02-1234-5678', '010-1111-5678'], 'email': {'office': 'hgd@korea.com', 'personal': 'hdg@naver.com'}}

In [23]:
print(person['name'])  # dict[key]
print(person['age'])
print(person['phone'])  # list
print(person['phone'][0])  # list[index]
print(person['email'])  # dict
print(person['email']['personal'])  # dict[key]

홍길동
16
['02-1234-5678', '010-1111-5678']
02-1234-5678
{'office': 'hgd@korea.com', 'personal': 'hdg@naver.com'}
hdg@naver.com

In [25]:
student_id = [1, 2, 3]
student_name = ['aaa', 'bbb', 'ccc']
students = {}  # 빈 딕셔너리(empty dictionary)
for id, name in zip(student_id, student_name):
    # print(id, name)
    students[id] = name  # dict에 key-value 데이터를 추가

print(students)

{1: 'aaa', 2: 'bbb', 3: 'ccc'}

In [26]:
# dictionary comprehension
students2 = {k: v for k, v in zip(student_id, student_name)}
print(students2)

{1: 'aaa', 2: 'bbb', 3: 'ccc'}