<a href="https://colab.research.google.com/github/JakeOh/202007_iw_pyda_wkd/blob/master/py07_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 함수(function): 자주 사용되는 기능들을 작성한 코드 블록
# 함수 호출(call, invoke): 함수를 사용하는 것.

In [ ]:
numbers = [1, 2, 3, 4, 5]

In [ ]:
print(numbers)  # print 함수 호출
# argument: 함수를 호출할 때 함수에게 전달하는 값(데이터)

[1, 2, 3, 4, 5]

In [ ]:
num_of_items = len(numbers)
# len 함수 호출
# len 함수에게 numbers를 아규먼트로 전달
# 반환값(return value): 함수가 기능을 수행한 후에 함수를 호출한 곳에 
# 되돌려주는 값.
print(num_of_items)

5

In [ ]:
sum_ = sum(numbers)
print(sum_)
# built-in function 이름과 같은 이름으로 변수를 만들면,
# 함수를 사용할 수 없게 될 수 있으므로,
# 변수 이름은 함수 이름과는 다르게 만들어 주는 것이 좋음.

15

In [ ]:
# 함수 정의
# def function_name(param1, ....):
#   함수가 할 일들을 작성

# parameter: 함수를 호출할 때 전달되는 argument를 저장하기 위해서
# 함수 정의부에서 선언하는 변수.

def add_two_numbers(x, y):
    return x + y

In [ ]:
result = add_two_numbers(1, 2)
print(result)

3

In [ ]:
# 숫자들의 리스트를 argument로 전달받아서,
# 리스트 안의 모든 숫자들의 합을 리턴하는 함수
def sum_of_list(num_list):
    sum_ = 0
    for x in num_list:
        sum_ += x
    return sum_

In [ ]:
sum_1_10 = sum_of_list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
print(sum_1_10)
sum_ = sum_of_list([1, 3, 10, 9])
print(sum_)

55
23

In [ ]:
# 숫자들의 리스트를 argument로 전달받아서
# 숫자들의 평균을 리턴하는 함수
def mean_of_list(num_list):
    sum_ = sum_of_list(num_list)  # 리스트의 원소들의 합
    num_of_items = len(num_list)  # 리스트의 원소의 개수
    mean = sum_ / num_of_items  # 평균 = 합 / 원소개수
    return mean

In [ ]:
mean1 = mean_of_list([1, 2, 3, 4, 5])
print(mean1)
mean2 = mean_of_list([2, 10, 100])
print(mean2)

3.0
37.333333333333336

In [ ]:
# 숫자 2개를 argument로 전달받아서
# 첫번째 숫자에서 두번째 숫자를 뺀 값을 리턴하는 함수
def subtract(x, y):
    return x - y

In [32]:
# subtract 함수를 호출할 때 argument를 전달하는 방법:
# positional argument: 선언된 파라미터 순서대로(위치 그대로) argument를 전달.
result = subtract(1, 2)  
print(result)

# keyword argument: param=값 형식으로, argument가 저장되는 파라미터를 명시해서 전달.
result = subtract(x=2, y=1)  
print(result)

result = subtract(y=1, x=2)
print(result)

-1
1
1

In [36]:
# 함수를 정의할 때 파라미터의 기본값(default argument)을 설정할 수 있음.
# 파라미터의 기본값은 함수 호출 시 argument가 없을 때 사용됨.
def multiply(x, y=1):
    return x * y

In [39]:
result = multiply(3, 2)  # positional argument
print(result)

result = multiply(3)
print(result)

6
3

In [42]:
def divide(x=1, y=1):
    return x / y

In [43]:
divide(10, 2)

5.0

In [44]:
divide(10)

10.0

In [45]:
divide(x=10)

10.0

In [46]:
divide(y=10)

0.1

In [47]:
divide()

1.0