<a href="https://colab.research.google.com/github/JakeOh/202007_iw_pyda_wkd/blob/master/py11_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# pandas: 데이터프레임을 다루는 패키지.
import pandas as pd

pd.__version__

'1.0.5'

In [ ]:
# pandas 패키지의 주요 데이터 타입(클래스): Series, DataFrame
# Series: 1차원 형태의 배열과 비슷한 타입
#   한가지 타입의 데이터만 저장할 수 있음.
# DataFrame: 2차원 형태의 배열(행, 열)과 비슷한 타입
#   각 컬럼에는 같은 타입의 데이터가 저장됨.
#   Series들의 집합.
# Series/DataFrame과 numpy.ndarray가 다른 점은 인덱스를 지정할 수 있다는 것.

In [2]:
s = pd.Series([1, 10, 5,  9])
print(s)

0     1
1    10
2     5
3     9
dtype: int64

In [3]:
s.shape

(4,)

In [4]:
s2 = pd.Series(data=[1, 10, 5, 9],
               index=['a', 'z', 'b', 'y'])
print(s2)

a     1
z    10
b     5
y     9
dtype: int64

In [6]:
print(s[1])
print(s2['z'])

10
10

In [8]:
# Series, DataFrame에서 슬라이싱(slicing)하는 방법 - 부분집합
# loc[인덱스], iloc[숫자기반인덱스(자동으로 부여되는 일련번호)]
s2.loc['a':'z']  # 'z'가 포함됨!

a     1
z    10
dtype: int64

In [9]:
s2.iloc[0:2]  # 2는 포함되지 않음!

a     1
z    10
dtype: int64

In [11]:
print(s)
s.loc[0:2]  # 2가 포함됨!

0     1
1    10
2     5
3     9
dtype: int64

0     1
1    10
2     5
dtype: int64

In [12]:
s.iloc[0:2]  # 2가 포함되지 않음!

0     1
1    10
dtype: int64

In [13]:
# boolean indexing
s[[True, True, False, False]]

0     1
1    10
dtype: int64

In [14]:
s[s < 10]  # s[[T, F, T, T]]

0    1
2    5
3    9
dtype: int64

In [15]:
df = pd.DataFrame({'번호': [1, 2, 3],
                   '키': [170, 160, 180],
                   '몸무게': [77, 55, 85]})
print(df)

   번호    키  몸무게
0   1  170   77
1   2  160   55
2   3  180   85

In [16]:
df

   번호    키  몸무게
0   1  170   77
1   2  160   55
2   3  180   85

In [17]:
df.loc[0:1]

   번호    키  몸무게
0   1  170   77
1   2  160   55

In [20]:
df.iloc[0:2]

   번호    키  몸무게
0   1  170   77
1   2  160   55